{% extends "base.njk" %}
{% block pageTitle %}Forbidden{% endblock %}
{% block content %}
    <div class="container">
        <h1>Access Denied</h1>
        <p>You don't have the authorization to open this page.</p>
    </div>
{% endblock %}