<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/">Home</a>
    &nbsp;&nbsp;
    <a class="btn btn-primary" href="/patients/new">Create Patient</a>
    &nbsp;&nbsp;
    <a class="btn btn-primary" href="/physios/new">Create Physio</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/auth/login">Log In</a>
</div>