{% extends "base.njk" %}

{% block pageTitle %}Patients | New{% endblock %}

{% block content %}

    <h1>New Patient</h1>

    {% if errores %}
        <div class="alert alert-danger">
            <p class="text-danger">{{ errores }}</p>
        </div>    
    {% endif %}

    <form action="/patients" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="login">Login:</label>
            <input type="text" class="form-control" name="login" 
                placeholder="Login..." value="{{user.login}}">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" 
                placeholder="Password..." value="{{user.password}}">
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" 
                placeholder="Name..." value="{{patient.name}}">
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>            
            <input type="text" class="form-control" name="surname"
                placeholder="Surname..." value="{{patient.surname}}">
        </div>

        <div class="form-group">
            <label for="birthDate">Birth date:</label>
            <input type="date" class="form-control" name="birthDate"
                placeholder="Birth date..." value="{{patient.birthDate}}">
        </div>

        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" name="address"
                placeholder="Address..." value="{{patient.address}}"/>
        </div>

        <div class="form-group">
            <label for="insuranceNumber">Insurance number:</label>
            <input type="text" class="form-control" name="insuranceNumber" 
                placeholder="Insurance number..." value="{{patient.insuranceNumber}}">
        </div>

        <div class="form-group">
            <label for="image">Photo:</label>
            <input type="file" class="form-control" name="image"
                placeholder="photo..." />
        </div>

        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
    </form>

{% endblock %}
