{% extends "base.njk" %}

{% block pageTitle %}Patients | List{% endblock %}

{% block content %}
<h1 class="display-2">Patients</h1>

<table class="table">
  <thead class="thead-dark">
  </thead>
  <tbody>
    {% for patient in patients %}
    <tr>
        <td>
            {{ patient.name }} {{ patient.surname }}
        </td>
        <td>
            <a class="btn btn-success" href="/patients/{{ patient.id }}">View details</a>
            <a class="btn btn-primary" href="/patients/edit/{{ patient.id }}">Edit</a>
            <a class="btn btn-warning" href="#">Create record</a>

            <form style="display:inline" action="/patients/{{ patient.id }}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% endblock %}