{% extends "base.njk" %}

{% block pageTitle %}Physio | Edit{% endblock %}

{% block content %}

    <h1>Edit Physio</h1>

    {% if (physio) %}

        {% if erroresl %}
            <p class="alert alert-danger">{{ errores }}</p>
        {% endif %}

        <form action="/physios/{{ physio.id }}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" 
                    placeholder="Name..." value="{{physio.name}}">
            </div>

            <div class="form-group">
                <label for="surname">Surname:</label>            
                <input type="text" class="form-control" name="surname"
                    placeholder="Surname..." value="{{physio.surname}}">
            </div>

            <div class="form-group">
                <label for="Specialty">Specialty:</label>            
                <select class="form-select" name="specialty" aria-label="Default select example">
                    <option value="Sports" {% if physio.specialty == "Sports" %}selected{% endif %}>Sports</option>
                    <option value="Neurological" {% if physio.specialty == "Neurological" %}selected{% endif %}>Neurological</option>
                    <option value="Pediatric" {% if physio.specialty == "Pediatric" %}selected{% endif %}>Pediatric</option>
                    <option value="Geriatric" {% if physio.specialty == "Geriatric" %}selected{% endif %}>Geriatric</option>
                    <option value="Oncological" {% if physio.specialty == "Oncological" %}selected{% endif %}>Oncological</option>
                </select>
            </div>

            <div class="form-group">
                <label for="licenseNumber">License number:</label>
                <input type="text" class="form-control" name="licenseNumber" 
                    placeholder="License number..." value="{{physio.licenseNumber}}">
            </div>

            <div class="form-group">
                <label for="image">Photo:</label>
                <input type="file" class="form-control" name="image"
                    placeholder="photo..." />
            </div>

            <button type="submit" class="btn btn-primary mt-4 mb-4">Edit</button>
        </form>
    {% else %}
        <div class="alert alert-danger">Physio not specified</div>
    {% endif %}

{% endblock %}
