{% extends "base.njk" %}

{% block pageTitle %}Physios | New{% endblock %}

{% block content %}

    <h1>New Physio</h1>

    {% if errores.general %}
        <p class="alert alert-danger">{{ errores.general }}</p>
    {% endif %}

    <form action="/physios" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="login">Login:</label>
            {% if errores.login %}
                <p class="text-danger">{{ errores.login }}</p>
            {% endif %}
            <input type="text" class="form-control" name="login" 
                placeholder="Login...">
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            {% if errores.name %}
                <p class="text-danger">{{ errores.password }}</p>
            {% endif %}
            <input type="password" class="form-control" name="password" 
                placeholder="Password...">
        </div>

        <div class="form-group">
            <label for="name">Name:</label>
            {% if errores.name %}
                <p class="text-danger">{{ errores.name }}</p>
            {% endif %}
            <input type="text" class="form-control" name="name" 
                placeholder="Name...">
        </div>

        <div class="form-group">
            <label for="surname">Surname:</label>            
            <input type="text" class="form-control" name="surname"
                placeholder="Surname...">
        </div>

        <div class="form-group">
            <label for="Specialty">Specialty:</label>            
            <select class="form-select" name="specialty" aria-label="Default select example">
                <option selected value="Sports">Sports</option>
                <option value="Neurological">Neurological</option>
                <option value="Pediatric">Pediatric</option>
                <option value="Geriatric">Geriatric</option>
                <option value="Oncological">Oncological</option>
            </select>
        </div>

        <div class="form-group">
            <label for="licenseNumber">License number:</label>
            {% if errores.licenseNumber %}
                <p class="text-danger">{{ errores.licenseNumber }}</p>
            {% endif %}
            <input type="text" class="form-control" name="licenseNumber" 
                placeholder="License number...">
        </div>

        <div class="form-group">
            <label for="image">Photo:</label>
            <input type="file" class="form-control" name="image"
                placeholder="photo..." />
        </div>

        <button type="submit" class="btn btn-primary mt-3">Create</button>
    </form>

{% endblock %}