{% extends "base.njk" %}

{% block pageTitle %}Physios | List{% endblock %}

{% block content %}
<h1 class="display-2">Physios</h1>

<form class="mt-4 mb-4" action="/physios/find" method="get">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="Specialty">Specialty:</label>            
                <select class="form-select" name="specialty" aria-label="Default select example">
                    <option selected value="Sports">Sports</option>
                    <option value="Neurological">Neurological</option>
                    <option value="Pediatric">Pediatric</option>
                    <option value="Geriatric">Geriatric</option>
                    <option value="Oncological">Oncological</option>
                </select>
            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary mt-4 mb-4">Search</i></button>
        </div>
    </div>
</form>

<table class="table">
  <thead class="thead-dark">
  </thead>
  <tbody>
    {% for physio in physios %}
    <tr>
        <td>
            {{ physio.name }} {{ physio.surname }}
        </td>
        <td>
            <a class="btn btn-success" href="/physios/{{ physio.id }}">View detail</a>
            <a class="btn btn-primary" href="/physios/{{ physio.id }}/edit">Edit</a>
            
            <form style="display:inline" action="/physios/{{ physio.id }}" method="post">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
   {% endfor %}
  </tbody>
</table>
{% endblock %}